<link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
<h1>Editing character</h1>

<%= render 'form' %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>
